

body {
    background-image: url("../images/MoviePopcorn-768x537.jpg");
    background-size: cover;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color: rgb(251, 252, 250);
    font-weight: bolder;
    padding: 20px;
    font-size: 45px;
  }

.wrapper {
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid #403fd3;
    height: 500px;
    width: 60%;
    text-align: center;
  }

  .btn {
    position: relative;
    bottom: -150px;
  }