

body {
    background-image: url("../images/MoviePopcorn-768x537.jpg");
    background-size: cover;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color: rgb(251, 252, 250);
    font-weight: bolder;
    padding: 20px;
    font-size: 45px;
  }

.wrapper {
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid red;
    height: 500px;
    width: 60%;
    text-align: center;
  }

  .btn {
    position: relative;
    bottom: -150px;
    background-image: url("../images/blankTicket75_149.png");
    height: 75px;
    width: 149px;
    color: black;
    font-weight: bolder;
    
  }

  #reset {
    visibility: visible;
  }
  

  .answerchoice {
    border: 1px solid black;
    border-radius: 5%;
    width: 40%;
    color: black;
    text-align: center;
    margin: 10px auto;
    font-size: 20px;
    background-color: white;
    }
    

  img {
    max-height: 250px;
    width: auto;
  }

  #questionblock {
    text-align: center;
    font-weight: bold;
    font-family: 'Merienda', cursive;
  }

  #answerblock {
    text-align: center;
    font-family: 'Merienda', cursive;
  
  }
 
  p {
    margin: 10px;
    font-weight: bold;
    color: red;
    font-size: 20px;
  }
  
  h2, h4 {
    margin: 30px;
    font-weight: bold;
  }
  